@import "colours";
@import "spacings";
@import "typography";
@import "base";

@media screen and (min-width: 990px) {
    .container {
        width: 900px;
        margin: 0 auto;
        padding: 0;
        //versus padding: 0 $contentSpacing; din _base
    }

    .hero {
        height: 600px;
        background-image: url("../images/mobile/image-hero.jpg");

        .container {
            header {
                .hamburger {
                    display: none;
                }

                nav {
                    display: block;

                    ul {
                        list-style: none;
                        display: flex;
                        gap: 15px;

                        li {
                            cursor: pointer;
                            position: relative;

                            &:hover::after {
                                position: absolute;
                                bottom: 0;
                                left: 50%;
                                transform: translateX(-50%);
                                content: '';
                                border-bottom: 2px solid $white;
                                width: 20px;

                            }

                        }
                    }

                }

            }

            h1 {
                width: 600px;
                transform: translateY(-25%);
                //se adauga fata de proprietatile din main
            }
        }
    }

    .interactive {
        .container {
            position: relative;

            img {
                display: block;
                width: 500px;

            }

            .text {
                position: absolute;
                bottom: 0;
                right: 0;
                background-color: $white;
                width: 500px;
                text-align: left;
            }
        }
    }

}



.creations {
    .container {
        h2 {
            text-align: left;
        }

        position: relative;

        .article-container {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            gap: 15px;

            article {
                height: 320px;
                margin-bottom: 0;

                &:nth-child(1) {
                    background-image: url(../images/desktop/image-deep-earth.jpg);

                }

                &:nth-child(2) {
                    background-image: url(../images/desktop/image-night-arcade.jpg);
                }

                &:nth-child(3) {
                    background-image: url(../images/desktop/image-soccer-team.jpg);
                }

                &:nth-child(4) {
                    background-image: url(../images/desktop/image-grid.jpg);
                }

                &:nth-child(5) {
                    background-image: url(../images/desktop/image-from-above.jpg);
                }

                &:nth-child(6) {
                    background-image: url(../images/desktop/image-pocket-borealis.jpg);
                }

                &:nth-child(7) {
                    background-image: url(../images/desktop/image-curiosity.jpg);
                }

                &:nth-child(8) {
                    background-image: url(../images/desktop/image-fisheye.jpg);
                }

            }

            button {
                position: absolute;
                top: 0;
                right: 0;
            }

        }
    }
}

footer {
    .container {
        text-align: left;
        display: flex;
        justify-content: space-between;

        .navigation-container {
            nav {
                ul {
                    display: flex;
                    gap: 15px;

                    li {
                        margin: 0;
                    }
                }
            }


        }

        .social {
            padding-bottom: 30px;
            
        }

        p {
            margin: 0;
        }
    }
}