@import "colours";
@import "spacings";
@import "typography";
@import "base";

.hero {
    background-image: url("../images/desktop/image-hero.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
    padding-top: $lg;
    position: relative;
    color: $white;

    .container {

        header {
            display: flex;
            justify-content: space-between;
            align-items: center;


            .logo,
            .hamburger {
                cursor: pointer;
            }

            nav {
                display: none;
            }
        }

        h1 {

            margin: 0;
            position: absolute;
            top: 50%;
            border: 2px solid $white;
            padding: $mid;
            transform: translateY(-50%);
            width: calc(100% - 2 * $contentSpacing);
            text-align: left;
        }

    }
}

.interactive {
    padding-top: $xxl;

    .container {
        text-align: center;

        h2 {
            padding-top: $mid;
        }

        .text {
            padding: 0 $lg;
        }

        img {
            width: 100%;
        }
    }

}

.creations {
    margin-top: $xxl;

    .container {
        h2 {
            text-align: center;
        }

        .article-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            
        }

        article {
            height: 180px;
            width: 100%;
            margin-bottom: $mid;
            padding: $mid;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            background-repeat: no-repeat;

            h3 {
                width: 50%;
                color: $white;
                margin: 0;

            }

            &:nth-child(1) {
                background-image: url(../images/mobile/image-deep-earth.jpg);

            }

            &:nth-child(2) {
                background-image: url(../images/mobile/image-night-arcade.jpg);
            }

            &:nth-child(3) {
                background-image: url(../images/mobile/image-soccer-team.jpg);
            }

            &:nth-child(4) {
                background-image: url(../images/mobile/image-grid.jpg);
            }

            &:nth-child(5) {
                background-image: url(../images/mobile/image-from-above.jpg);
            }

            &:nth-child(6) {
                background-image: url(../images/mobile/image-pocket-borealis.jpg);
            }

            &:nth-child(7) {
                background-image: url(../images/mobile/image-curiosity.jpg);
            }

            &:nth-child(8) {
                background-image: url(../images/mobile/image-fisheye.jpg);
            }

        }

        button {
            background-color: $white;
            border: 1px solid $black;
            padding: $baseSpacing $lg;
            text-transform: uppercase;
            transition: all 0.3s linear;

            &:hover {
                background-color: $black;
                color: $white;
            }
        }
    }
}

footer {
    margin-top: $xl;
    background-color: $black;
    color: $white;
    padding: $lg 0;

    .container {
        text-align: center;

        nav {
            margin: $mid 0;

            ul {
                padding: 0;
                margin: 0;
                list-style: none;

                li {
                    margin-bottom: $baseSpacing;
                }
            }
        }

        .social {
            display: flex;
            justify-content: center;

            ul {
                display: flex;
                gap: 15px;
                // justify-content: space-between;
                // width: 100px;

                padding: 0;
                margin: 0;
                list-style: none;
            }
        }

        p {
            color: $grey;
        }
    }
}