@import "colours";
@import "spacings";
@import "typography";
@import "base";

.hero {
    background-image: url("../images/desktop/image-hero.jpg");
    background-position: center;
    background-size: cover;
    height: 40vh;
    padding-top: $lg;
    position: relative;
    color: $white;

    .container {

        header {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .logo {
                width: 500px;

            }

            .hamburger {
                width: 60px;
            }

            .logo,
            .hamburger {
                cursor: pointer;
            }

            nav {
                display: none;
            }
        }

        h1 {
            
            margin:0;
            position: absolute;
            top: 50%;
            border: 2px solid $white;
            padding: $mid;
            transform: translateY(-50%);
            width: calc(100% - 2 * $contentSpacing);
            text-align: left;
        }

    }
}
.interactive {
    padding-top: $xxl;
    .container {
        text-align: center;
        h2 {
            padding-top: $mid;
        }
        .text {
            padding: 0 $lg;
        }
    }
    img {
        width: 100%;
    }
}


    